body {
	font-size: 12px;
	font-family: "Consolas";
}

.noteCell {
	text-align: center;
	width: 32px;
	height: 14px;
	border: solid 1px;
}

.intervalCell, .idunnoCell {
	text-align: center;
	width: 16px;
	height: 14px;
	border: solid 1px;
}

table, th, td {
	padding: 1px;
	border-collapse: collapse;
}